.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution{
    margin-top: 5%;
}
body{
    background-color: hsl(30, 38%, 92%);
}
.card{
    display: flex;
    font-size: 14px;
    font-family: 'Montserrat';
    text-align: left;
}
.text{
    border-radius: 0 10px 10px 0;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 20px;
}
.head-p{
    letter-spacing: 5px;
    text-transform: uppercase;
}
h1{
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
}
p{
    color: hsl(228, 12%, 48%);
}
.btn:hover{
    background-color: hsl(212, 21%, 14%);
}
.btn{
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.price1,h1{
    font-family: 'Fraunces',sans-serif;
}
.price{
    display: flex;
    gap: 50px;
}
.price1{
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}
.price2{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    align-self: center;
}
img{
    border-radius: 10px 0 0 10px;
}

@media screen and (max-width: 996px) {
    .card {
      flex-direction: column;
      width: 80%;
      margin: auto;
    }
    .main-img {
      border-radius: 10px 10px 0 0;
      height: 40vh;
    }
    h1{
        width: 100%;
    }
    .text-p{
        width: 80%;
   }
   .btn{
    padding: 10px 100px;
   }
    .btn-div{
        margin-bottom: 10%;
    }
    .text {
        border-radius: 0 0 10px 10px;
        height: 70vh auto;
    }
  }
  @media screen and (min-width:997px) {
    .card{
        margin-top: 5%;
        margin-left: 20%;
    }
    span{
        margin-left: 20%;
    }
    h1{
        width: auto;
    }
    .text-p{
        margin-bottom: 0;
        width: 50% auto;
   }
    .main-img{
        height: 73vh;
    }
    .text{
        height: 70vh;
        width: 30%;
    }
    .btn{
        padding: 10px 50px;
    }
    .btn-div{
        align-items: end;
    }
    }
  
  