.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution{
    margin-top: 5%;
}
body{
    background-color: hsl(30, 38%, 92%);
    margin: 5rem 2rem;
}
.card{
    display: flex;
    font-size: 14px;
    font-family: 'Montserrat';
    margin: auto;
    text-align: left;
    
}
.text{
    border-radius: 0 10px 10px 0;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 20px;
}
.head-p{
    letter-spacing: 5px;
    text-transform: uppercase;
}
h1{
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
}
p{
    color: hsl(228, 12%, 48%);
}
.btn:hover{
    background-color: hsl(212, 21%, 14%);
}
.btn{
    padding: 10px 50px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin-bottom: 5%;
}
.btn-div{
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5%;
}
.price1,h1{
    font-family: 'Fraunces',sans-serif;
}
.price{
    display: flex;
    gap: 50px;
    margin-bottom: 5%;
    justify-content: center;
}
.price1{
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}
.price2{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    align-self: center;
}
img{
    border-radius: 10px 0 0 10px;
}

@media screen and (max-width: 996px) {
    .card {
      flex-direction: column;
      width: 75%;
    }
    .text-p{
        -webkit-line-clamp: 5;
    }
    .main-img {
      margin-top: 20px;
      border-radius: 10px 10px 0 0;
      height: 60vh;
    }
    .text {
      border-radius: 0 0 10px 10px;
      padding: 10px 75px;
      height: 70vh;
    }
  }
  @media screen and (min-width:997px) {
    .card{
        width: 50%;
        height: 70vh;
    }
  }
  